.offer {
  background: url('https://res.cloudinary.com/dv3q1dxpi/image/upload/v1672052119/bg_qor5ak.png')
    no-repeat left bottom;
  min-height: max-content;
  max-height: 100vh;
  height: auto;
  display: grid;
  grid-template: auto / 50% 50%;
  @media (max-width: 768px) {
    max-height: unset;
    grid-template: auto / 1fr;
  }
  .information {
    max-width: 900px;
    padding: 2rem;
    padding-left: calc((100vw - 1160px) / 2);
    @media (max-width: 1220px) {
      padding-left: 2rem;
    }
    .offerSubtitle {
      font-size: 1.4rem;
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
    ul.offerBenefits {
      padding: 0;
      margin-left: 0;
      margin-top: 4rem;
      li {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
        color: var(--dent-blue);
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .addReview {
    display: grid;
    align-items: center;
    justify-items: end;
    padding: 2rem;
    padding-right: calc((100vw - 1160px) / 2);
    @media (max-width: 1220px) {
      padding-right: 2rem;
    }
    @media (max-width: 768px) {
      align-items: top;
      justify-items: center;
    }
  }
}
