.container {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 1px;
  max-width: 100%;
}

.hide {
  display: none !important;
}

.center {
  align-items: center;
  justify-content: center;
}

.fullwidth {
  width: 100vw;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.column {
  flex-direction: column;
}
