.footerWrapper {
  background: var(--dent-dark);
  border-top: 1px solid var(--accents-2);
  padding: 1rem 0;
  .footerLayout {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .footerNav {
      .footerLink {
        color: #fff;
        font-size: 0.875rem;
        &:hover {
          color: #aad7e1;
        }
      }
    }
  }
  .footerContact {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 2rem;
  }
}
