.layout {
  width: 100%;
  display: grid;
  grid-template: auto / max-content 1fr;
  gap: 8vw;
  padding: 2rem;
  .mobileBtn {
    @media (min-width: 1024px) {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    grid-template: auto / 1fr;
    gap: 2rem;
  }
  .content {
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      width: calc(100vw - 4rem);
      max-width: 100%;
      padding: 0;
    }
    .serviceTitle {
      margin-top: 0 !important;
      font-size: 2.4rem;
      @media (max-width: 1024px) {
        font-size: 2rem;
      }
      @media (max-width: 900px) {
        font-size: 1.6rem;
      }
    }
    .offer {
      height: 300px;
      width: 100%;
      .preview {
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
        opacity: 1;
      }
    }
    .anchors {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4vw;
      padding: 1rem 0;
      @media (max-width: 560px) {
        flex-wrap: wrap;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .description {
      font-size: 1rem;
    }
    .price {
      .warning {
        font-size: 0.6rem;
        width: 100%;
        text-align: end;
      }
      ul,
      ol {
        width: 100%;
        margin: 0;
        padding: 0;
        li {
          padding: 0.4rem 0.6rem;
          border-radius: 0.6rem;
          padding-left: 1rem;
          border: 2px solid var(--dent-dark);
          margin-bottom: 1rem;
        }
        li,
        li span {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          &:last-child {
            margin-bottom: 0;
          }
          strong,
          b,
          i {
            position: relative;
            padding: 0.6rem;
            border-radius: 0.6rem;
            background: var(--dent-dark);
            color: #fff;
            &::after {
              content: ' руб.';
            }
          }
        }
      }
    }
  }
}

.subTitle {
  font-size: 1.2rem;
  font-weight: 700;
}
