.promoContainer {
  padding: 2rem 10%;
  border: 2px solid var(--dent-blue);
  border-radius: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template: auto / 40% 60%;
  gap: 2rem;
  overflow: hidden;
  position: relative;
  &.homepageContainer {
    display: flex !important;
    flex-direction: column;
    padding: 2rem;
    max-width: 768px;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  @media (max-width: 900px) {
    grid-template: auto / 1fr;
  }
  span.tape {
    position: absolute;
    transform: rotate(-45deg);
    top: 1.5rem;
    left: -3rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    background: var(--dent-blue);
    color: #fff;
    padding: 0.4rem 3.5rem;
    @media (max-width: 900px) {
      top: 1rem;
      left: -3.5rem;
      font-size: 0.8rem;
      padding: 0.2rem 3.5rem;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  .promoPicture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      object-fit: contain;
      object-position: left center;
      height: 100%;
      width: 100%;
      @media (max-width: 900px) {
        max-width: 400px;
        margin: 0 auto;
      }
      @media (max-width: 480px) {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  .promoContent {
    .promoTitle {
      font-size: 2rem;
      font-weight: 700;
      margin-top: 0;
      &.homepageTitle {
        font-size: 1.4rem;
      }
    }
    .promoSubtitle {
      font-size: 1.4rem;
      @media (max-width: 480px) {
        font-size: 1.2rem;
      }
      &.homepageSubtitle {
        font-size: 1.2rem;
        @media (max-width: 480px) {
          font-size: 1rem;
        }
      }
    }
    .timer {
      width: 100%;
      margin-bottom: 3rem;
      .timerWarning {
        font-size: 1rem;
      }
      .numbers,
      .labels {
        width: 100%;
      }
      .numbers {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media (max-width: 480px) {
          gap: 10px;
        }
        span {
          padding: 0.6rem;
          background: var(--dent-dark);
          font-size: 3rem;
          font-weight: 900;
          color: var(--background);
          position: relative;
          min-width: 90px;
          transition: all 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          &:first-child {
            background: var(--dent-blue);
          }
          @media (max-width: 480px) {
            font-size: 2rem;
            padding: 0.4rem;
            min-width: 60px;
          }
          @media (max-width: 380px) {
            font-size: 1.4rem;
            padding: 0.2rem;
            border-radius: 0.6rem;
            min-width: 40px;
          }
          span.label {
            min-width: unset;
            position: absolute;
            top: calc(100% + 0.2rem);
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            background: none;
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--dent-dark);
            @media (max-width: 480px) {
              font-size: 1rem;
            }
            @media (max-width: 380px) {
              font-size: 0.8rem;
            }
          }
        }
        &.homepageNumbers {
          span {
            font-size: 2rem;
            min-width: 70px;
            @media (max-width: 480px) {
              font-size: 1.6rem;
              padding: 0.4rem;
              min-width: 60px;
            }
            @media (max-width: 380px) {
              font-size: 1.4rem;
              padding: 0.2rem;
              border-radius: 0.6rem;
              min-width: 40px;
            }
          }
        }
      }
    }
  }
}
