.userCard {
  transition: all 0.5s;
}
.info {
  transition: all 0.3s;
  overflow: hidden;
  color: #000;
  display: flex;
  flex-direction: column;
}
.infoHidden {
  width: 0;
}
.infoShown {
  width: max-content;
}
