.mt0 {
  margin-top: 0;
}

.news {
  .newsItem {
    display: grid;
    width: 100%;
    grid-template: auto / 1fr 540px;
    @media (max-width: 1080px) {
      grid-template: auto / 1fr;
    }
    .newsItemContent {
      background: #f4f4f4;
      padding: 3rem 2rem;
      padding-left: calc((100vw - 1160px) / 2);
      @media (max-width: 1220px) {
        padding-left: 2rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .newsContentText {
        .newsItemDescr {
          font-size: 1.4rem;
          font-weight: 400;
        }
        .newsItemDescrSub {
          font-size: 1rem;
        }
      }
      button {
        width: max-content;
      }
    }
    .newsItemPreview {
      @media (max-width: 1080px) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.about {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 2rem;
  @media (max-width: 1080px) {
    grid-template: auto / 1fr;
  }
  .aboutContent {
    p {
      //font-size: 1.4rem;
      @media (max-width: 560px) {
        font-size: 1rem;
      }
    }
  }
  .aboutSliders {
    display: grid;
    grid-template: max-content 80px / 1fr;
    gap: 1rem;
    position: sticky;
    top: 5rem;
    height: max-content;
    .aboutMainSlider {
      width: 100%;
      max-width: 540px;
      height: 100%;
      max-height: 400px;
      border-radius: 2rem;

      .fancyboxBtn {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        cursor: zoom-in;
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }
    }
    .aboutThumbSlider {
      width: 100%;
      max-width: 540px;
      height: 100%;
      max-height: 100px;
      .thumbWrapper {
        border-radius: 1rem;
        overflow: hidden;
        &.swiper-slide-thumb-active {
          transform: scale(2);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }
      .swiper-slide-thumb-active {
        border: 2px solid green;
      }
    }
  }
}

.benefits {
  display: grid;
  grid-template: auto / 0.5fr 1fr;
  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .benefitsTitleWrapper {
    background: var(--dent-dark);
    padding-left: calc((100vw - 1160px) / 2);
    @media (max-width: 1220px) {
      padding-left: 2rem;
    }
    border-radius: 0 2rem 2rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 1080px) {
      width: 90%;
      padding-right: 2rem;
    }

    .benefitsTitle {
      font-size: 2.2rem;
      color: #fff;
      position: relative;
      @media (max-width: 768px) {
        font-size: 1.6rem;
      }
      i {
        font-style: normal;
      }
      //   i {
      //     position: relative;
      //     z-index: 1;
      //     &::before {
      //       display: none;
      //     }
      //     &::after {
      //       background: #038aa7;
      //       z-index: -1;
      //       content: '';
      //       background: #038aa7;
      //       height: 10px;
      //       width: 100%;
      //       position: absolute;
      //       bottom: 4px;
      //       left: 0;
      //       border-radius: 10px;
      //     }
      //   }
    }
  }
  .benefitsList {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: calc((100vw - 1160px) / 2);

    @media (max-width: 1220px) {
      padding-right: 2rem;
    }
    @media (max-width: 768px) {
      grid-template: auto / 1fr;
    }
    .benefit {
      border: 1px solid #038aa7;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .benefitTitle {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        @media (max-width: 480px) {
          gap: 1rem;
        }
        @media (max-width: 360px) {
          img {
            height: 40px;
            width: 40px;
          }
        }
        .benefitName {
          text-decoration: underline;
          font-size: 1.4rem;
          width: min-content;
          margin: 0;
          @media (max-width: 480px) {
            font-size: 1rem;
          }
        }
      }
      .benefitContent {
        margin: 0;
        color: gray;
        font-size: 0.8rem;
      }
    }
  }
}
