.starRating {
  display: flex;
  align-items: center;
  gap: 1rem;
  .stars {
    display: flex;
    align-items: center;
    .ratingBtn {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .ratingStar {
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
      &.ratingOn {
        color: #ffb600;
      }
      &.ratingOff {
        color: #ccc;
      }
    }
  }
  .starCount {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: -3px;
  }
}
