.compare {
  height: 200px;
  overflow: hidden;
  border-radius: 0.6rem;
  div,
  slot {
    height: 100%;
    min-height: 200px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-height: 200px;
  }
}

.slide {
  position: relative;
  .slideTitle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }
}

.slider {
  position: relative;
  padding: 0 4rem;
  padding-bottom: 4rem;
  @media (max-width: 900px) {
    padding: 0;
    padding-bottom: 4rem;
  }
  .sliderNavigation {
    width: 100%;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    pointer-events: none;
    @media (max-width: 900px) {
      display: none;
    }
    .sliderBtn {
      width: 46px;
      height: 100%;
      pointer-events: auto;
      border: none;
      background: #fff;
      outline: 4px solid #fff;
      margin-top: -1px;
      cursor: pointer;
      transition: all 0.3s;
      padding: 0;
      padding-bottom: 4rem;
      &:hover {
        color: var(--dent-blue);
      }
    }
  }
}

.portfolioDescription {
  font-size: 1.6rem;
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}
